page-home {
	
	ion-header {
		padding: 20px;
		ion-input {
			background-color: white;
		    padding: 5px;
		    border: 1px solid silver;
	    }
	}

	padding: 0 !important;
	.scroll-content {
		padding: 0 !important;
	}

	#map {
        height: 100%;
    }
	
	.footer-md {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 100px;
		button:first-child{
			margin-bottom: 15px;
		}
		&:before{
			background-image: none;
		}
	}

}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}